# Logs
logs
*.log
npm-debug.log*

# Diretórios de dependências
node_modules/

# Diretórios de build de projeto
dist/
build/

# Diretórios de configuração de ambiente
.env

# Arquivos de cache do IDE
.idea/
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos específicos do TypeScript
*.tsbuildinfo

# Cobertura de testes
coverage/

# Diretórios de cache
.cache/
